.col-md-12
  %h2= t('features.description.main')
  %p.lead= t('features.description.extra')

.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
  #feature1
    %i.fa.fa-apple
    %h3= t('features.one.title')
    %p= t('features.one.content')

.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
  #feature2
    %i.fa.fa-adn
    %h3= t('features.two.title')
    %p= t('features.two.content')

.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
  #feature3
    %i.fa.fa-android
    %h3= t('features.three.title')
    %p= t('features.three.content')
